* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: none !important;
    box-sizing: border-box;
}

dl, ol, ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none
}

a, a:hover {
    color: inherit;
    text-decoration: none
}
p {
    margin: 0;
}
img {
     max-width: 100%;
     height: auto;
 }
.mt-15 {
    margin-top: 15px; }
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px; }

.mt-40 {
    margin-top: 40px; }

.mt-50 {
    margin-top: 50px; }

.mt-70 {
    margin-top: 70px; }

.mt-80 {
    margin-top: 80px; }

.mt-100 {
    margin-top: 100px; }

.mt-150 {
    margin-top: 150px; }

.mr-15 {
    margin-right: 15px; }

.mr-30 {
    margin-right: 30px; }

.mr-50 {
    margin-right: 50px; }

.mr-100 {
    margin-right: 100px; }

.mb-15 {
    margin-bottom: 15px; }
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px; }

.mb-40 {
    margin-bottom: 40px; }

.mb-50 {
    margin-bottom: 50px; }

.mb-60 {
    margin-bottom: 60px; }

.mb-70 {
    margin-bottom: 70px; }

.mb-80 {
    margin-bottom: 80px; }

.mb-100 {
    margin-bottom: 100px; }

.ml-15 {
    margin-left: 15px; }

.ml-30 {
    margin-left: 30px; }

.ml-50 {
    margin-left: 50px; }

.ml-100 {
    margin-left: 100px; }

.pt-50 {
    padding-top: 50px !important; }

.section-padding-80 {
    padding-top: 80px;
    padding-bottom: 80px; }

.section-padding-0-80 {
    padding-top: 0;
    padding-bottom: 80px; }

.section-padding-80-0 {
    padding-top: 80px;
    padding-bottom: 0; }

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.container-my {
    max-width: 1276px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
}
.button {
    display: inline-block;
    background: #000000;
    border-radius: 5px;
    padding: 16px 40px;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button:hover,
.button:focus {
    color: #ffffff;
}
.button svg {
      margin-right: 9px;
      align-items: center;
  }
header {
    height: 80px;
    background: #EFF3F7;
}
.header .logo {
    margin-right: 40px;
}
.header .logo img {
    padding-top: 20px;
}
.header .nav-menu li  {
    display: inline-block;
    margin-right: 50px;
    padding: 30px 0;
}
.header .nav-menu li:last-child {
    margin-right: 0;
}
.header .nav-menu li a {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.header .cart span {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.header .cart {
    margin-right: 32px;
}
.header .right-menu img {
    margin-right: 23px;
}
.header .cart img {
    margin-right: 8px;
}
.header-fixed {
    padding: 0 17%;
    position: fixed;
    top: -1px;
    left: 0;
    right: 0;
    justify-content: center;
    height: 70px;
    margin: auto;
    animation-name: show-header;
    animation-duration: 1s;
    background: #EFF3F7;
    z-index: 99999999;
}

@keyframes show-header {
    0% {
        opacity: 0;
        top: -70px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
.header.header-fixed .logo ,
.header.header-fixed .nav-items a {
    color: #000000;
    padding-top: 20px;
}
.header.header-fixed .logo img {
    padding-top: 0;
}
.header.header-fixed .mobile-btn {
    top: 35%;
}
.mobile-btn {
    position: absolute;
    width: 25px;
    height: 25px;
    background: none;
    top: 50%;
    right: 13%;
    z-index: 99999;
    visibility: hidden;
}
.mobile-btn .line {
    position: absolute;
    background: #000000;
    border-radius: 5px;
    height: 2px;
    right: 0;
    margin: auto;
    width: 20px;
    top: 11px;
}
.mobile-btn .line:first-child {
    right: 0;
    margin: auto;
    width: 20px;
    top: 4px;
}
.mobile-btn .line:last-child {
    right: 0;
    margin: auto;
    width: 20px;
    top: 18px;
}
header .header .nav-menu.active {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: visible;
}
.nav-menu.active  {
    visibility: visible;
    display: block;
    margin:  0 auto;
}
.nav-menu.active .logo {
    color: #ffffff;
}
.nav-menu.active .nav-menu li a {
    color: #ffffff;
}
.mobile-btn.active .line:first-child {
    transform: rotate(-315deg);
    transition: 1s;
    opacity: 1;
    top: 8px;
}
.mobile-btn.active .line:last-child {
    display: none;
}
.mobile-btn.active .line:nth-child(2) {
    transform: rotate(315deg);
    transition: 1s;
    opacity: 1;
    top: 8px;
}
.section-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}
.description {
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    text-transform: capitalize;
    color: #000000;
}
.owl-dots {
    display: none;
}
.owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 3px;
}
.owl-prev {
    position: absolute;
    top: -151px;
    right: 8%;
    height: 75px;
    width: 60px;
    background: url(../images/Arrow2.svg) no-repeat !important;
 }
.owl-next {
    position: absolute;
    top: -151px;
    right: 0;
    height: 75px;
    width: 60px;
    background: url(../images/Arrow1.svg) no-repeat !important;
}
/*Default CSS*/

#goodcoffee {
    padding: 70px 0 0 0;
}
#goodcoffee .section-title {
    margin-bottom: 50px;
    text-align: center;
}
#goodcoffee .good-coffee-wrapper {
    display: flex;
    margin:  0 auto;
}
#goodcoffee .box {
    width: 23%;
    background: url(../images/accordion1.png) no-repeat;
    background-size: cover;
    display: flex;
    height: 240px;
    margin-right: 20px;
    border-radius: 10px;

}
#goodcoffee .panel {
    width: 20%;
    display: none;
    padding: 44px 27px 0 0;
}
#goodcoffee .panel.active {
 display: block;
}
#goodcoffee .box:last-child {
  margin-right: 0;
}
#goodcoffee .panel h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 20px;
}
#goodcoffee .description {
    text-transform: initial;
}
#cooperation {
    padding: 192px 0 0 0;
    position: relative;
}
#cooperation .map {
    padding: 0;
}
#cooperation .text {
    padding: 0;
}
#cooperation .section-title {
    margin-bottom: 50px;
}
#cooperation .item {
    display: flex;
    margin-bottom: 36px;
}
#cooperation .item:last-child {
    margin-bottom: 0;
}
#cooperation .item svg {
    margin-right: 20px;
}
#cooperation .item svg.last {
    margin-right: 0;
}
#cooperation .item p {
    text-transform: initial;
}
#cooperation .button {
    margin-top: 70px;
}
#cooperation .box-map {
    /*background: url("../images/mar.png") no-repeat;*/
    background-size: cover;
    height: 754px;
    z-index: 9999;
}
#cooperation .box-map:before  {
    content: url(../images/ZNAKCOFFEE.svg);
    position: absolute;
    right: 5%;
    z-index: -1;
    top: -60px;
}
#cooperation-slider {
    padding: 0 0 182px 0;
}
#cooperation-slider .slide-item {
    position: relative;
}
#cooperation-slider .box-bg  {
    content: "";
    width: 250px;
    height: 400px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.0001) 10.17%, #FFFFFF 91.87%);
    opacity: 1.4;
    position: absolute;
    left: 15px;
    top: 220px;
    z-index: 9999999;
}
#cooperation-slider .box-bg-after {
    content: "";
    width: 400px;
    height: 400px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 89.83%);
    opacity: 1.9;
    position: absolute;
    right: 15px;
    top: 66px;
    z-index: 10;
}

#cooperation-slider .section-title {
    margin-bottom: 83px;
}
#cooperation-slider .box-slide {
    padding: 0 0 50px 30px;
    position: relative;
}
#cooperation-slider .box-slide:before {
    content: "";
    width: 1px;
    height: 100%;
    background: #DEDEDE;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}
#cooperation-slider .box-slide:after {
    content: url(../images/Oval.svg);
    position: absolute;
    left: -11px;
    bottom: -21px;
    margin: auto;
}
#cooperation-slider .bottom {
    position: relative;
}
#cooperation-slider .bottom .box-slide {
    padding: 50px 0 0 30px;
}
#cooperation-slider .bottom .box-slide:after {
    top: -15px;
}
#cooperation-slider .bottom:before {
    content: "";
    width: 100%;
    height: 4px;
    background: linear-gradient(180deg, #FBAD09 0%, #FF5060 100%);
    border-radius: 8px;
    z-index: -1;
}
#cooperation-slider .box-slide .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #141414;
}
#cooperation-slider .box-slide .subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #616161;
    margin-top: 15px;
}


.owl-stage {
    padding-left: 0!important;
}
#review-slider {
    padding: 0 0 150px 0;
    text-align: center;
    position: relative;
}
#review-slider .review-slider {
    width: 71%;
    margin:  0 auto;
}
#review-slider .slide svg {
    margin-top: 50px;
}
#review-slider .description {
    margin: 44px 0 50px 0;
}
#review-slider .name {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 5px;
}
#review-slider .owl-prev {
    position: absolute;
    top: 39%;
    left: -180px;
    height: 75px;
    width: 60px;
    background: url(../images/Arrow2.svg) no-repeat !important;
    background-size: contain;
}
#review-slider .owl-next {
    position: absolute;
    top: 39%;
    right: -180px;
    height: 75px;
    width: 60px;
    background: url(../images/Arrow1.svg) no-repeat !important;
}
#review-slider .owl-nav {
    display: block;
    cursor: default;
    position: absolute;
    top: 39%;
    left: 0;
    right: 0;
    margin: auto;
 }
.owl-nav button span {
    display: none;
}

#result {
    padding: 30px 0 130px 0;
    text-align: center;
}
#result .section-title {
    margin-bottom: 60px;
}
#result .box .number {
    font-weight: 600;
    font-size: 70px;
    line-height: 84px;
    color: #FBAD09;
    text-shadow: 0 2px 10px rgba(253, 121, 57, 0.4);
}
#result .box .subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}
#withus {
  background: url("../images/Vector2.png") no-repeat;
    background-size: contain;
    
}
#withus .svg {
    width: 100px;
    height: 100px;
    background: #EFF3F7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
}
#withus .description {
    margin-top: 36px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #616161;
    text-transform: inherit;
}
#crm {
    padding: 172px 0 0 0;
}
/*crm-left-block/*/
#crm .crm-bg {
    padding-right: 30px;
}
#crm .wrapper-form:before {
    content: "";
    position: absolute;
    width: 1036px;
    height: 823px;
    left: -191px;
    top: -90px;
    background: url(../images/crmbg.png) no-repeat;
    background-size: contain;
    z-index: -999;
}
#crm .wrapper-form {
    z-index: 1;
    position: relative;
}
#crm .form-top {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background: #ffffff;
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
}
#crm .left {
    margin-left: 10px;
    margin-right: auto;
}
#crm .left-svg-1 {
    margin-right: 11px;
}
#crm .form-top .left-svg-2 .eclipse {
    width: 17px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    margin-right: 5px;
}
#crm .center {
    margin: 0 auto;
    width: 100%;
}
#crm .form-top .center .center-eclipse {
    width: 70%;
    height: 16px;
    border: 1px solid #e5e5e5;
    background: #ffffff;
    border-radius: 3px;
    margin:  0 auto;
}
#crm .right {
    margin-right: 18px;
}
#crm .right .right-eclipse {
    width: 28px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    margin-right: 8px;
}
#crm .form-center {
    width: 100%;
    height: 494px;
    background: #F9FBFD;
    border-radius: 0 0 5px 5px;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
}
#crm .form-center .center-form {
    margin:  0 auto;
    width: 100%;
    height: 282px;
}
/*crm-right-block/*/
#crm .crm-box {
    display: flex;
    justify-content: start;
    padding-left: 30px;
}
#crm .box .section-title {
    margin-bottom: 40px;
}
#crm .box .item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
#crm .box .item .number {
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #FBAD09 0%, #FF5060 100%);
    box-shadow: 0 2px 10px rgba(253, 121, 57, 0.4);
    border-radius: 50%;
    margin-right: 20px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#crm .item .description {
    line-height: 24px;
}
#crm .box  .button {
    margin-top: 25px;
}
#team-manageers {
    padding: 139px 0 0 0;
}
#team-manageers .box {
    margin-top: 76px;
}
#team-manageers .box .subtitle {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FBAD09;
    margin-bottom: 10px;
}
#team-manageers .description  {
    margin:40px 0 50px 0;
}
#team-manageers .manager-box {
    height: 100%;
}
#partners {
    padding: 145px 0 198px 0;
}
#partners .partners-box {
    display: flex;
    align-items: center;
    text-align: center;
}
#partners .partners-box .item {
    margin-right: 100px;
}
#partners .partners-box .item:last-child {
    margin-right: 0;
}
#partners .owl-nav {
    display: none;
}
#application {
    padding: 0 0 60px 0;
    position: relative;
}
#application .description {
    color: #828282;
    margin-top: 20px;
}
#application .form {
    margin-top: 40px;
    display: flex;
}
#application .form input {
    padding: 14px 0 14px 20px;
    width: 260px;
    height: 52px;
    background: #F2F2F2;
    border-radius: 3px;
    margin-right: 20px;
    border: none;
}
#application .img-box {
    background: url("../images/application.png") no-repeat;
    background-size: contain;
    position: absolute;
    width: 438px;
    height: 360px;
    right: -204px;
    top: -40px;
}
#about {
    padding: 121px 0 126px 0;
    background: url(../images/aboutbg.png) no-repeat top center;
    background-size: cover;
}
#about .description {
    margin: 30px 0 64px 0;
}
#our-team {
    padding: 60px 0 100px;
}
#our-team .section-title {
    margin-bottom: 40px;
}
#our-team .slider-item {
    width: 100%;
    height: auto;
    margin-right: 35px;
}
#our-team .img {
    background: url("../images/aboutslider.png") no-repeat;
    background-size: contain;
    width: 400px;
    height: 492px;
}
#our-team .slider-item .name {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin: 20px 0 5px 0;
}
#our-team .slider-item .position {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
}
#our-team .play-box {
    border-radius: 10px;
    max-width: 100%;
    height: 628px;
    margin-top: 100px;
}
#our-team .owl-nav {
    position: absolute;
    left: 0;
    top: 73px;
    right: 0;
}
footer {
    background: #EFF3F7;
    padding: 70px 0;
    position: relative;
}
footer .box .logo {
    margin-bottom: 20px;
}
footer .social a {
    margin-right: 22px;
}
footer .social a:last-child {
    margin-right: 0;
}
footer .contacts p {
    font-size: 15px;
    color: #9d9d9d;
    margin-bottom: 10px;
}
footer .contacts h3 {
    color: #000000;
    margin-bottom: 20px;
}
footer .contacts span {
    color: #5e5e5e;
    font-size: 16px;
}
footer .contacts {
    margin: 30px 0;
}
footer .cart p {
    font-size: 14px;
    color: #9d9d9d;
}
footer .icons {
    padding: 20px 0 0 0;
}
footer .icons img {
    margin-right: 20px;
}
footer .icons img:last-child {
    margin-right: 0;
}
footer .footer-menu ul {
    margin-right: 60px;
}
footer .footer-menu ul:last-child {
    margin-right: 0;
}
footer .footer-menu li {
    font-size: 15px;
    color: #5e5e5e;
    padding: 12px 0 0 0;

}
footer .footer-menu .title{
    font-size: 25px;
    color: #000000;
    font-weight: 500;
}

footer .form h3 {
    font-size: 25px;
    color: #000000;
    font-weight: 500;
    padding: 15px 0 0 0;
}
footer .form .subtitle {
    font-size: 14px;
}
footer form input {
    padding: 8px;
    margin: 15px 0 0 0;
    width: 100%;
}
footer form .button {
    padding: 5px 0;
    background: #444444;
    color: #ffffff;
    font-size: 15px;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 0;
    margin-bottom: 10px;
}
footer form p {
    font-size: 11px;
}
footer form p a {
    text-decoration: underline;
}
footer form p a:hover {
    text-decoration: underline;
}
footer:after {
    content: '© 2019 Znak Coffee';
    font-size: 15px;
    color: #444444;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    right: 0;
    margin: auto;
}
/*Shop-page

 */
#category {
    padding: 100px 0;
}
#category .coffee-item {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%),url(../images/image15.png) no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 30px;
    transition-duration: 600ms;
}
#category .coffee-item p {
    padding: 205px 0 25px 25px;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}
#category .coffee-item:hover {
    background: url("../images/image15.png") no-repeat;
    background-size: cover;
    opacity: 0.8;
}
#purchaseHistory {
    background: #F8F8F8;
    padding: 50px 0;
}
#purchaseHistory .section-title {
    margin-bottom: 40px;
}
#purchaseHistory .box ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 20px;
}
#purchaseHistory .box ul .title {
    font-weight: 300;
    margin-bottom: 30px;
}
#purchaseHistory .box ul li.green {
    color: #27AE60;
}
#purchaseHistory .all-purchase {
    text-align: center;
    display: block;
    text-decoration: underline;
}
#news .news-item {
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
}
#news .text {
    padding: 0 30px;
}
#news .news-item img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#news .news-item .text .category {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #141414;
}
#news .text h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #141414;
}
#news .text .description {
    line-height: 21px;
    letter-spacing: -0.1px;
    color: #616161;
    font-size: 14px;
}
#news .owl-carousel .owl-nav {
    top: 70px;
}
#coffee-catalog {
    padding: 60px 0 100px 0;
}
#coffee-catalog .item {
    position: relative;
    border-radius: 5px;
    margin-bottom: 30px;

}
#coffee-catalog .item .box {
    padding: 30px 20px;
}
#coffee-catalog .item:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    opacity: 0.1;
    background: #56CCF2;
}
#coffee-catalog .item:before {
    content: url("../images/heart.svg");
    position: absolute;
    right: 20px;
    top: 30px;
    margin: auto;
}
#coffee-catalog .item .img {
    opacity: 1;
    z-index: 99999;
}
#coffee-catalog .text h4 {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
}
#coffee-catalog .text .description {
    font-size: 12px;
    line-height: 19px;
    text-transform: capitalize;
    color: #000000;
}
#coffee-catalog .option .option-item {
    flex-wrap: wrap;
}
#coffee-catalog .option .option-item p {
    font-size: 12px;
    line-height: 20px;
    text-transform: capitalize;
    font-weight: 300;
    color: #000000;
}
#coffee-catalog .option .option-item p span {
    font-weight: 500;
    margin-top: 10px;
    font-size: 14px;
}
#coffee-catalog .option .num button:first-child {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
#coffee-catalog .num {
    padding-top: 10px;
}
#coffee-catalog .option .num button {
    width: 15px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 0 5px 5px 0;
    border: 1px solid #fff;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    color: #000000;
}
#coffee-catalog .option .num  input {
    width: 25px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #fff;
    text-align: center;
}
#coffee-catalog  .button-catalog {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: right;
    display: block;
    color: #000000;
}
#coffee-catalog  .button-catalog img {
    margin-right: 10px;
}
#coffee-catalog .btn-center {
    display: block;
    text-align: center;
}